body {
    height: auto;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #542f90;
}

.navegador {
    background:
        linear-gradient(rgba(44, 18, 72, 0.35), rgba(44, 18, 72, 0.35)),
        url(./assets/foto.png) center center / cover no-repeat;
    padding: 15px 30px;
    height: 410px;
    justify-content: space-between;

    flex-direction: column;
    background-position: center;
    display: flex;
    align-items: center;
}


.barra-navegacion {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1500px;
}

.icon {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.contenedorBuscador {
    display: flex;
    max-width: 1020px;
}

.buscador {
    padding-left: 15px;
    display: flex;
    height: 45px;
    width: 999px;
    border-radius: 3px;
    border: 1px;
    font-size: 15px;
    outline: none;
}

.btnBuscar {
    background: #371356;
    padding: 0;
    border: 2px solid #fff;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 48px;
}

.btnBuscar img {
    width: 23px;
    height: 23px;
}

.cont-user-shop {
    display: flex;
    gap: 1rem;
}

.user {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.cart {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
    gap: 4.7rem;
    padding: 5px;
    margin-left: 12.5%;

}

.menu,
a {
    text-decoration: none;
    font: 15.12px Karla, sans-serif;
}

.menu a:hover {
    text-decoration: underline;
}


.eslogan {
    height: 30%;
    width: 40%;
    padding: 10px;
}

.text {
    color: white;
    font: 35px Karla, sans-serif;
    font-weight: bold;
    margin-left: 85px;
}


/*TEXTOS debajo del eslogan*/
.acciones p {
    color: #fff;
    margin: 25px;
    font: 16px Karla, sans-serif;
}

.opciones {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    padding-top: 30px;
    margin-left: 73px;
    gap: 2.5rem;
}

.botones {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin-left: 97px;
}

/*BOTONES*/
.botones {
    display: flex;
    gap: 1rem;
    margin-top: 10px;
}

.btn-vender,
.btn-comprar {
    font: bold 14px Karla, sans-serif;
    padding: 15px 105px;
    border-radius: 3px;
    cursor: pointer;
}

.btn-vender {
    background-color: #371356;
    color: white;
    margin-right: 20px;
    border: 2px solid #fff;
}

.btn-comprar {
    background-color: white;
    color: #371356;
    border: 2px solid #371356;
}


.row-section {
    color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin-left: 97px;
    padding-top: 70px;
    margin-left: 200px;
    gap: 38rem;
}

[row-section],
a {
    color: grey;
    text-decoration: none;
}

[row-section],
a:hover {
    text-decoration: underline;
}

.row-section-2 {
    color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin-left: 97px;
    padding-top: 70px;
    margin-left: 200px;
    gap: 43rem;
}

[row-section-2],
a {
    color: grey;
    text-decoration: none;
}

[row-section-2],
a:hover {
    text-decoration: underline;
}


/*CARDS 1*/
.section-tiendas-destacadas {
    padding: 40px;
}

.cards-contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 28px;
}

.card {
    width: 260px;
    background: white;
    border-radius: 16px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.card-tienda .header {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 13px;
}

.card-tienda .header img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}

.card-tienda .footer {
    padding: 14px;
    font-weight: 200;
    font-size: 14px;
    color: black;
}

.card-tienda .img-responsive {
    width: 100%;
    height: auto;
    display: block;
}



/*CARDS 2*/
.section-otras-tiendas {
    background-color: #ffffff;
    padding: 2rem 1rem;
}

.cards-contenedor-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
}

.cards-contenedor-2 .card {
    width: 205px;
    border: 1px solid #eee;
    border-radius: 15px;
    overflow: hidden;
    background-color: #fff;
}


.card-articulo {
    display: flex;
    flex-direction: column;
    height: 300px;
    text-align: center;
}

.card-articulo img.img-responsive {
    width: 100%;
    object-fit: cover;
    margin-bottom: 17px;
}

.card-articulo .title a {
    font-size: 0.9rem;
    color: grey;
    text-decoration: none;

}

.card-articulo .by a {
    font-size: 0.7rem;
    color: grey;
    text-decoration: none;
}

.by {
    padding: 15px;
}

.card-articulo .price {
    font-size: 13px;
    color: #000;
    font-weight: 400;
}

.barrita {
    width: 50px;
    height: 4px;
    background-color: #2c1248;
    margin: 10px auto 0;
    border-radius: 2px;
}

/*CARRUSCEL*/
.carousel-inner .row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin: 0 auto;
}

.carousel-inner .col-12.col-sm-4 {
    max-width: 390px;
    flex: 0 0 auto;
    padding: 0;
    text-align: center;
}

.containerr {
    background-color: #f1f1f1;
    margin-top: 55px;
    padding-top: 50px;
    padding-bottom: 80px;
}

.img-carousel {
    width: 100%;
    max-height: 325px;
    object-fit: contain;
    margin: 0 auto;
    display: block;
    padding: 0;
    margin-bottom: 32px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #2c1248;
    background-size: 80% 80%;
    padding: 20px;
    border-radius: 25%;
}

.section-como-funciona h2 {
    font-family: 'Karla', sans-serif;
    font-size: 20px;
    color: black;
    font-weight: bold;
    margin-bottom: 40px;
    text-align: center;
}

.nueva-tienda {
    background-color: #2C1248;
    color: white;
    padding: 21.6px;
    width: 80px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Karla', sans-serif;
    padding: 25px 110px 25px 110px;
}

.nueva-tienda:hover {
    text-decoration: underline;
}

/*seccion de formulario */
.section-suscripcion {
    background-color: #fff;
    padding: 50px 20px;
    text-align: center;
}

.section-suscripcion h2 {
    font-family: 'Karla', sans-serif;
    color: black;
    font-size: 20px;
    margin-bottom: 15px;
}

.form-suscripcion {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.input-group-suscripcion {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

.input-group-suscripcion input[type="email"] {
    padding: 5px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    width: 365px;
    font-size: 14px;
    font-family: 'Karla', sans-serif;
}

.input-group-suscripcion button {
    padding: 12px 40px;
    border: none;
    background-color: #2c1248;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    font-family: 'Karla', sans-serif;
    cursor: pointer;
    font-size: 14px;
}

/*abrir tienda*/
.section-more {
    background: 
      linear-gradient(rgba(44, 18, 72, 0.6), rgba(44, 18, 72, 0.6)),
      url(./assets/fondo-01.jpg) center center / cover no-repeat;
    position: relative;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.container3 {
    position: relative;
    z-index: 2;
    color: white;
    max-width: 800px;
}

.section-more h2 {
    font-family: system-ui, 'Open Sans', 'Helvetica Neue', sans-serif, sans-serif;
    font-size: 21px;
    font-weight: 600;
    margin-bottom: 80px;
}
h2{
    width: 520px;
}

.section-more .nueva-tienda {
    background-color: #2c1248;
    border-radius: 5px;
    font-weight: bold;
    font-family: 'Karla', sans-serif;
    color: white;
    text-decoration: none;
    font-size: 14px;
    border: 3px solid white;
    margin-top: 20px;
}


/*footer*/
.kichink-footer {
    background-color: #e5e5e5;
    padding: 50px 0 30px;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    color: #6b6b6b;
    margin-top: 40px;
  }
  
  .footer-container {
    max-width: 1300px;
    margin: auto;
    padding: 0 30px;
  }
  
  .footer-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  
  .footer-logo img {
    height: 40px;
    margin-right: 30px;
  }
  
  .footer-column {
    flex: 1 1 160px;
    margin: 0 70px;
  }
  
  .footer-column h4 {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 12px;
  }
  
  .footer-column ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer-column ul li {
    margin-bottom: 8px;
  }
  
  .footer-column ul li a {
    color: #727272;
    text-decoration: none;
    font-size: 12px;
  }
  
  .footer-column ul li a:hover {
    text-decoration: underline;
  }
  
  .store-btn {
    height: 40px;
    display: block;
    margin-bottom: 5px;
  }
  
  .footer-phone img {
    height: 180px;
    margin-left: 10px;
  }
  
  .footer-links {
    text-align: center;
    margin-top: 40px;
    font-size: 13px;
    color: #727272;
  }
  
  .footer-links a {
    color: #727272;
    text-decoration: none;
    margin: 0 5px;
    font-size: 13px;
  }
  
  .footer-links a:hover {
    text-decoration: underline;
  }
  
  
